
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* General Page Layout */

* {
    padding: 0;
    margin: 0;
    background-color: #E3E6EC;
}

.backdrop { 
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    height: 90%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #E3E6EC;
    border-radius: 42px;
    box-shadow: inset 10px 10px 15px #D1D9E6, inset -10px -10px 15px #FFFFFF;
    display: grid;
    place-items: center;
    overflow: hidden;
    grid-gap: 25px;
    grid-template-columns: 70% repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 1fr 1fr 2fr 2fr;
    padding : 25px;
}

.backdrop > div {
    background-color: #E3E6EC;
    border-radius: 32px;
    box-shadow: 10px 10px 20px #D1D9E6, -10px -10px 20px #FFFFFF;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    grid: auto-fit;
    font-family: 'Montserrat', sans-serif; 
    color: #596E95;
}

.backdrop label {
    margin-top: 5px;
    display: block; 
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;  
    position: absolute; 
    top: 5%; 
    left: 50%; 
    transform: translateX(-50%);
}

/* MLP Section */

.mlp {
    grid-area: 1 / 1 / 5 / 1;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


#form-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    align-items: center;
}

#form-container > label {
    display: block;
    position: absolute;
    align-items: center;
}

#form-container > .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


#neurons-inputs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start; 
    margin-top: 20px;
}

.pair-container > label {
    position: relative;
    margin-top: 0px;
}

.pair-container > .in-de-buttons {
    margin: 0px;
}


.in-de-buttons {
    background-color: #E3E6EC;
    border-radius: 100%;
    box-shadow: inset 10px 10px 15px #c0cbdd, inset -10px -10px 15px #FFFFFF;
    border: none;
    color: #596E95;
    font-weight: bold;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 30px;
    margin: 5px;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
}

.in-de-buttons:hover {
    background-color: #4c7aaf; 
    color: white; 
    box-shadow: none;
}


input[type="number"] {
    text-align: center;
    color: #596E95;
    font-weight: bold;
    border: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#network-container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#network-svg {
    width: 100%;
    height: 95%;
    display: block;
}

/* Bottom Page */

.bottom-page {
    grid-area: 5 / 1 / 6 / 4;
    width: 100%;
    height: 15%;
    border-radius: 32px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
}

/* Train Button */

.training-button-group {
    display: block;
    width: 100%;
    align-items: end;
    border-radius: 32px;
}

#train-button {
    border: none;
    margin-bottom: 20px;
    margin-left: 30px;
    cursor: pointer;
}

#train-hover-text {
    position: absolute;
    bottom: 82px;
    left: 23px;
    background-color: #4c7aaf;
    color: white;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    align-content: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    font-size: 1em;
    z-index: 500;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#train-hover-text::before {
    content: "";
    position: absolute;
    top: 98%;
    left: 20%;
    transform: translate(-5%);
    border-width: 10px;
    border-style: solid;
    border-color: #4c7aaf transparent transparent transparent;
}

#train-button:hover + #train-hover-text,
#train-hover-text:hover {
    visibility: visible;
    opacity: 1;
}


/* Info Button */

.info-button-group {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: end;
    border-radius: 32px;
}

#info-button {
    border: none;
    margin-bottom: 15px;
    padding-right: 30px;
    cursor: help;
}

#info-hover-text {
    position: absolute;
    bottom: -20px;
    right: 23px;
    background-color: #4c7aaf;
    color: white;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    align-content: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    font-size: 1em;
    z-index: 1000;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#info-hover-text::before {
    content: "";
    position: absolute;
    bottom: 99%;
    right: 10%;
    rotate: 180deg;
    transform: translate(-5%);
    border-width: 10px;
    border-style: solid;
    border-color: #4c7aaf transparent transparent transparent;
}

#info-button:hover + #info-hover-text,
#info-hover-text:hover {
    visibility: visible;
    opacity: 1;
}



/* Dropdowns Section */

.dropdown1 {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
}

.dropdown2 {
    grid-area: 1 / 3 / 2 / 4;
    text-align: center;
}

.dropdown3 {
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
}

.dropdown4 {
    grid-area: 2 / 3 / 3 / 4;
    text-align: center;
}


select {
    border: none;
    border-radius: 32px;
    background-color: #E3E6EC; 
    transform: translate(-50%, -50%);
    box-shadow: inset 10px 10px 15px #C0CBDD, inset -10px -10px 15px #FFFFFF;
    position: absolute;
    left: 50%;
    top: 65%;
    color: #596E95;
    font-weight: bold;
    padding: 10px 30px 10px 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 50%;
    width: 80%;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="%23596E95" d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 15px 15px;
    display: inline;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, background-image 0.5s;
}



select:hover {
    background-color: #4c7aaf; 
    color: white; 
    box-shadow: none;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="%23FFFFFF" d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg>');
}


/* Canvas Section */

.canvas-container {
    grid-area: 3 / 2 / 5 / 4;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif; 
    color: #596E95;
    position: relative;
    display: flex;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.canvas {
    width: 90%;
    height: 80%;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-pencil-fill' viewBox='0 0 16 16'> <path d='M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z'/> </svg> "), auto;
    margin-top: 15px;
    background-color: black;
    border-radius: 32px;
}


.canvas-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-items: center;
    align-items: center;
}


.resetButton, .submitButton {
    background-color: #E3E6EC;
    border-radius: 32px;
    box-shadow: inset 10px 10px 15px #C0CBDD, inset -10px -10px 15px #FFFFFF;
    border: none;
    color: #596E95;
    font-weight: bold;
    top: 50%;
    left: 50%;
    height: 120%;
    width: 100%;
    margin: 4px 30px;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;

}

#submitButton:hover {
    background-color: #4CAF50; 
    color: white; 
    box-shadow: none;
}

#resetButton:hover {
    background-color: #c03c3c;
    color: white;
    box-shadow: none;
}


/* Pop-up Screens */


.popup1, .popup2, .popup3, .popup4, .popup5, .popup6, .popup7, .popup8, .popup9 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.flex-container-center1, .flex-container-center2, .flex-container-center3, .flex-container-center4, .flex-container-center5, .flex-container-center6, .flex-container-center7, .flex-container-center8, .flex-container-center9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hidden1, .hidden2, .hidden3, .hidden4, .hidden5, .hidden6, .hidden7, .hidden8, .hidden9 {
    display: none;
}

.training-results-screen, .evaluating-screen, .evaluation-results-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 50%;
    background-color: #E3E6EC;
    z-index: 1000;
    border-radius: 32px;
    box-shadow: inset 10px 10px 15px #C0CBDD, inset -10px -10px 15px #FFFFFF;
}

.loading-screen {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 80%;
    width: 80%;
    background-color: #E3E6EC;
    z-index: 1001;
    border-radius: 32px;
    box-shadow: inset 10px 10px 15px #C0CBDD, inset -10px -10px 15px #FFFFFF;
}


.training-text {
    align-content: center;
    color: #596E95;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    font-size: 2em;
}

#accGraph {
    align-content: center;
    background-color: #E3E6EC;
    height: 60%;
    width: 80%;
}


.training-results-screen, .evaluating-screen, .evaluation-results-screen, .welcome-message, .get-started-message, .info-message {
    position: relative; 
}

.btn-right {
    position: left;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    margin: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-right:hover {
    transform: scale(1.1);
}


.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #596E95;
}

.btn-close:hover {
    color: #FFFFFF;
}

.training-results-text, .evaluation-results-text {
    align-content: center;
    color: #596E95;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    font-size: 2em;
}

.welcome-message, .get-started-message, .info-message {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    height: 75%;
    width: 75%;
    z-index: 1000;
    border-radius: 32px;
    box-shadow: inset 10px 10px 15px #C0CBDD, inset -10px -10px 15px #FFFFFF;
}


.welcome-message-text, .info-message-text {
    align-content: center;
    color: #596E95;
    align-items: center;
    margin: 0 50px 0 50px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    font-size: 1.3em;
}

.welcome-message > h2 {
    font-size: 2.1em;
    margin: 30px 50px 20px 50px;
}

.info-message > h2 {
    font-size: 2.1em;
    margin: 10px 50px 10px 50px;
}

.info-message > h3 {
    font-size: 1.2em;
    margin: 0 50px 0 50px;
}

#questionnaire-button { 
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    align-content: end;
}

#questionnaire-hover-text {
    position: absolute;
    bottom: 72px;
    right: 20px;
    background-color: #4c7aaf;
    color: white;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    align-content: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    font-size: 1em;
    z-index: 500;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#questionnaire-hover-text::before {
    content: "";
    position: absolute;
    top: 100%;
    right: 10%;
    transform: translate(-5%);
    border-width: 10px;
    border-style: solid;
    border-color: #4c7aaf transparent transparent transparent;
}

#questionnaire-button:hover + #questionnaire-hover-text,
#questionnaire-hover-text:hover {
    visibility: visible;
    opacity: 1;
}


.evaluating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.evaluating-text {
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif; 
    color: #596E95;
}

.dots::after {
    content: '';
    display: inline-block;
    width: 1em;
    text-align: left;
    animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
    0%, 20% {
        content: '';
    }
    40% {
        content: '.';
    }
    60% {
        content: '..';
    }
    80%, 100% {
        content: '...';
    }
}